# Автоматически определять текстовые файлы и нормализовать окончания строк
* text=auto

# Исключить эти файлы из нормализации, так как Unity очень чувствителен к ним
*.meta -text
*.asset -text
*.unity -text
*.prefab -text
*.mat -text
*.anim -text
*.controller -text
*.overrideController -text
*.physicMaterial -text
*.physicsMaterial2D -text
*.playable -text
*.mask -text
*.brush -text
*.flare -text
*.fontsettings -text
*.guiskin -text
*.giparams -text
*.renderTexture -text
*.spriteatlas -text
*.terrainlayer -text